<div class="nav-bar">
<div class="dropdown">
  <button class="dropbtn">List</button>
  <div class="dropdown-content">
    <a href="/home">Home</a>
    <a href="/doctors">Doctors</a>
    <a href="/patients">Patients</a>
    <a href="/logout">logout</a>
</div>
</div>
</div>
