<div id="add-doctors">

<form action="/doctors" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="specialist" placeholder="specialist">
    <input type="number" name="contact" placeholder="contact">
    <button type="submit" class="add-doctors-btn">Add</button>
</form>
</div>